<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>

<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <conversionRule conversionWord="crlf" converterClass="com.venble.boot.common.config.CRLFLogConverter"/>
    <property name="CONSOLE_LOG_PATTERN"
              value="${CONSOLE_LOG_PATTERN:-%clr(%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd'T'HH:mm:ss.SSSXXX}}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %crlf(%m){red} %n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}"/>

    <!-- The FILE and ASYNC appenders are here as examples for a production configuration -->
    <property name="FILE_LOG_PATTERN"
              value="${FILE_LOG_PATTERN:-%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd'T'HH:mm:ss.SSSXXX}} ${LOG_LEVEL_PATTERN:-%5p} ${PID:- } &#45;-- [%t] %-40.40logger{39} : %crlf(%m) %n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}"/>

    <springProperty scope="context" name="appName" source="spring.application.name" defaultValue="myapp"/>

    <!-- 默认文件日志 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 日志文件路径 -->
        <file>${LOG_FILE:-logs/${appName}.log}</file>
        <!-- 日志文件最大大小 -->
        <maxFileSize>${LOG_FILE_MAX_SIZE:-10MB}</maxFileSize>
        <!-- 日志文件最大历史数量 -->
        <maxHistory>${LOG_FILE_MAX_HISTORY:-10}</maxHistory>
        <!-- 日志文件总大小 -->
        <totalSizeCap>${LOG_FILE_TOTAL_SIZE_CAP:-0}</totalSizeCap>
        <!-- 日志文件滚动策略 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 日志文件名 -->
            <fileNamePattern>
                ${LOG_FILE_NAME_PATTERN:-logs/${appName}.%d{yyyy-MM-dd}.log}
            </fileNamePattern>
            <!-- 日志文件最大历史数量 -->
            <maxHistory>${LOG_FILE_MAX_HISTORY:-10}</maxHistory>
            <!-- 日志文件总大小 -->
            <totalSizeCap>${LOG_FILE_TOTAL_SIZE_CAP:-0}</totalSizeCap>
            <!-- 日志文件最大大小 -->
            <maxFileSize>${LOG_FILE_MAX_SIZE:-10MB}</maxFileSize>
        </rollingPolicy>
        <!-- 日志格式 -->
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <!-- 仅写入ERROR -->
        <!-- 防止占用 -->
        <prudent>${LOG_FILE_PRUDENT:-false}</prudent>
    </appender>

    <!-- 错误文件日志 -->
    <appender name="ERROR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 日志文件路径 -->
        <file>${LOG_FILE:-logs/${appName}.error.log}</file>
        <!-- 日志文件最大大小 -->
        <maxFileSize>${LOG_FILE_MAX_SIZE:-10MB}</maxFileSize>
        <!-- 日志文件最大历史数量 -->
        <maxHistory>${LOG_FILE_MAX_HISTORY:-10}</maxHistory>
        <!-- 日志文件总大小 -->
        <totalSizeCap>${LOG_FILE_TOTAL_SIZE_CAP:-0}</totalSizeCap>
        <!-- 日志文件滚动策略 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 日志文件名 -->
            <fileNamePattern>
                ${LOG_FILE_NAME_PATTERN:-logs/${appName}.error.%d{yyyy-MM-dd}.log}
            </fileNamePattern>
            <!-- 日志文件最大历史数量 -->
            <maxHistory>${LOG_FILE_MAX_HISTORY:-10}</maxHistory>
            <!-- 日志文件总大小 -->
            <totalSizeCap>${LOG_FILE_TOTAL_SIZE_CAP:-0}</totalSizeCap>
            <!-- 日志文件最大大小 -->
            <maxFileSize>${LOG_FILE_MAX_SIZE:-10MB}</maxFileSize>
        </rollingPolicy>
        <!-- 日志格式 -->
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <!-- 仅写入错误日志 -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <!-- 防止占用 -->
        <prudent>${LOG_FILE_PRUDENT:-false}</prudent>
    </appender>

    <!-- 异步写入文件日志 -->
    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <!-- 默认情况下，异步 Appender 会在队列中缓存 256 条日志记录，当队列满时，会丢弃后续的日志记录，这里将队列大小设置为 512 条，丢弃阈值设置为 0，表示不丢弃日志记录 -->
        <discardingThreshold>0</discardingThreshold>
        <!-- 队列大小 -->
        <queueSize>512</queueSize>
        <appender-ref ref="FILE"/>
        <appender-ref ref="ERROR_FILE"/>
    </appender>

    <springProperty name="log.level" source="logging.level.root" defaultValue="INFO"/>

    <root level="${log.level}">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="ASYNC"/>
    </root>

    <!-- 将 Logback 日志系统的日志级别变更同步到 Java Util Logging (JUL) 的日志系统中，从而避免使用 JUL 日志系统时出现日志级别不一致的情况 -->
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>
</configuration>
